@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');


body {
  margin: 0px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #bae6fd;

}

.logo {
  padding-right: 10px;
  border-radius: 5px;
}

.inputNewNoteBox {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.headingAndTrash{
  width: 170px;
  height: 40px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.headingText {
  padding-left: 10px;
  margin: 0px;
  width: fit-content;
}

.deleteAllNotes{
  width: 30px;
  height: 30px;
}

.trashBtn{
  max-width: 30px;
  cursor: pointer;
}

.inputNewNote {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0px;
  padding: 0px;

}

.inputNoteName {
  max-zoom: 1;
  border-radius: 10px;
  width: 155px;
  border: 1px solid black;
  padding: 5px;
  height: 32px;
  max-height: 20px;
  margin-right: 5px;
}


.addNoteBtn {
  background-color: #fde047;
  -webkit-text-fill-color: black;
  border-radius: 10px;
  height: 32px;
  min-width: 32px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.addNoteBtn:hover {
  transition: all 0.2s;
  box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.7);
}

.notesPlate {

  flex-wrap: wrap;
  /* margin-top: 10px; */
  /* border-top: black 1px solid; */
  width: 100%;
  /* height: 100vw; */
  max-height: 930px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}

.noteBox {
  margin: 10px;
  border: none;
  width: 280px;
  height: fit-content;
  min-height: 180px;
  flex-direction: column;
  display: flex;
  /* justify-content:center */
  background: #fde047;
  border-radius: 10px;

}

.topNote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  height: 25px;
}

h4 {
  font-weight: 500;
  justify-self: flex-start;
  margin: 5px;
  padding-left: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line {

  background-color: #fde68a;
  width: 99.5%;
  margin: 0;
  border: none;
}

.inputNote {
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  resize: none;
  background-color: #fde68a;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }


  .headingAndTrash{
    width: 140px;
  }

  h2 {
    margin-left: 0px;
  }

  .addNoteBtn {
    margin-right: 10px;
    border-radius: 20px;
  }

  .addNoteBtn span {
    display: none;
  }

  .addNoteBtn::after {
    content: "+" !important;
    font-size: large;
  }

  .inputNewNote {
    width: 400px !important;
  }

  .inputNoteName {
    width: 155px;
  }

  .notesPlate {
    justify-content: center;
  }
}